{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>login</title>
<style>
body
{
    padding-top:20px;

padding-bottom:50px;
background-color: #462f79;
}
}
#lpage
{
padding-top:50px;
align : center;
padding-bottom:50px;
background-color:#86c9ce;
}
</style>
</head>
<body>


<!-- Nav bar starts here -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/signup/">Signup</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- nav bar ends here  -->


<br><br><br><br>
 <div class="container" id="lpage">
     <div style="position: absolute; top: 10px; right: 50px; text-align:right;">
    
  </div>
     <!-- Login form --->
<center id="centerkaid">
    <h1>Fill your credentials to Login</h1>
    <br> <br>
<form action="{% url 'login' %}" enctype="multipart/form-data" method="POST">
{% csrf_token %}
    <p>username: {{form.username}}</p>
    <p>password: {{form.password}}</p>
    <button class="btn btn-outline-success" type="submit">Login</button>
</form>
</center>
     <!-- login form --->
 </div>


</body>
</html>